$color-bg: #282c34;

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
}

.c-book {
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 10px;
}

.list {
	padding: 0;

	.list__item {
		display: flex;
		justify-content: flex-start;

		
		margin-bottom: 20px;

		h3 {
			margin-top: 0;
		}
		.h4 {
			margin-bottom: 0;
		}
	}
	.list__action {
		margin-left: auto;

		button {
			margin-left: 5px;
		}
	}
	.list__title {
		margin-right: 20px;
	}
}
  
.App {

	h2,
	.h2 {
		margin-bottom: 20px;
	}

	.App-logo {
		animation: App-logo-spin infinite 20s linear;
		height: 10vmin;
		padding: 10px 0;
	}

	.App-header {
		background-color: $color-bg;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;

		.btn {
			background-color: #5adafd;
			color: black;
			margin-left: auto;
			margin-right: 30px;
		}
		
		
		h1 {
			font-size: calc(10px + 2vmin);
			margin: 0;

			a {
				color: white;
			}
		}
	}
	
	
	
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
